  <div class="relative bg-footer font-mulish overflow-hidden py-8">
    <div class="flex flex-col md:flex-row md:p-8 w-full md:w-[1100px] mx-auto">
      <div class="w-full md:w-3/6 p-4" id="logo-footer">
        <img src="images/logo.svg" alt="Logo del sitio.">
        
      </div>
    <div class="text-xl md:text-2xl text-white text-center flex justify-center gap-14 md:gap-24 my-12">
      <a class="transition delay-100 md:hover:text-pukara-main" title="Correo" href="mailto:hello@pukara.es" target="_blank"><i class="fas fa-envelope"></i></a>
      <a class="transition delay-100 md:hover:text-pukara-main" title="Twitter" href="https://twitter.com/pukaraes" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
      <a class="transition delay-100 md:hover:text-pukara-main" title="GitHub" href="https://github.com/PukaraES" target="_blank" rel="noopener"><i class="fab fa-github-alt"></i></a>
      <a class="transition delay-100 md:hover:text-pukara-main" title="LinkedIn" href="https://linkedin.com/company/pukaraes" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
    </div>
    
    
    <script src="javascript/functions.js"></script>
  </div>
  <p class="text-white text-xs md:text-base text-center my-2" id="derechos-reservados">Copyright &copy; 2020 - 2022 Pukara | Todos los derechos reservados</p>
</body>
</html>
