  <div class="relative bg-footer font-mulish overflow-hidden py-8">
    <div class="flex flex-col md:flex-row md:p-8 w-full md:w-[1100px] mx-auto">
      <div class="w-full md:w-3/6 p-4">
        <img src="images/logo.svg" alt="Logo del sitio.">
        <p class="text-white text-justify my-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio impedit cum numquam molestias eos? Dicta nisi vitae ut laborum enim quasi illum dolorem omnis accusamus. Id aut animi facere similique!</p>
        <p class="text-white text-justify my-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quod facere suscipit iste repellendus exercitationem beatae voluptate consectetur dolorum aliquam, doloribus veritatis ut aspernatur reiciendis itaque neque quae ad at.</p>
      </div>
      
      <div class="w-full md:w-1/6 p-4">
        <p class="text-white text-xl md:text-2xl font-bold">Site Map</p>
        
        <ul>
          <li class="text-white md:text-lg my-3"><a class="transition delay-100 md:hover:text-pukara-main" href="#" target="_blank">Lorem Ipsum</a></li>
          <li class="text-white md:text-lg my-3"><a class="transition delay-100 md:hover:text-pukara-main" href="#" target="_blank">Lorem Ipsum</a></li>
          <li class="text-white md:text-lg my-3"><a class="transition delay-100 md:hover:text-pukara-main" href="#" target="_blank">Lorem Ipsum</a></li>
          <li class="text-white md:text-lg my-3"><a class="transition delay-100 md:hover:text-pukara-main" href="#" target="_blank">Lorem Ipsum</a></li>
          <li class="text-white md:text-lg my-3"><a class="transition delay-100 md:hover:text-pukara-main" href="#" target="_blank">Lorem Ipsum</a></li>
        </ul>
      </div>
      
      <div class="w-full md:w-2/6 p-4 flex flex-col justify-items-end">
        <p class="text-white text-2xl md:text-3xl font-extrabold text-right">Contactanos</p>
        <p class="text-white text-lg md:text-xl text-right my-3 overflow-hidden"><a class="py-2 transition delay-100 md:hover:text-pukara-main" title="Correo" href="mailto:hello@pukara.es" target="_blank">hello@pukara.es</a></p>
        <p class="text-white text-lg md:text-xl text-right my-3 overflow-hidden"><a class="py-2 transition delay-100 md:hover:text-pukara-main" href="tel:+000000000000" target="_blank">+00 000 000 0000</a></p>
        <p class="text-white text-lg md:text-xl text-right my-3 overflow-hidden"><a class="py-2 transition delay-100 md:hover:text-pukara-main" href="tel:+000000000000" target="_blank">+00 000 000 0000</a></p>
      </div>
    </div>

    <div class="text-xl md:text-2xl text-white text-center flex justify-center gap-14 md:gap-24 my-12">
      <a class="transition delay-100 md:hover:text-pukara-main" title="Correo" href="mailto:hello@pukara.es" target="_blank"><i class="fas fa-envelope"></i></a>
      <a class="transition delay-100 md:hover:text-pukara-main" title="Twitter" href="https://twitter.com/pukaraes" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
      <a class="transition delay-100 md:hover:text-pukara-main" title="GitHub" href="https://github.com/PukaraES" target="_blank" rel="noopener"><i class="fab fa-github-alt"></i></a>
      <a class="transition delay-100 md:hover:text-pukara-main" title="LinkedIn" href="https://linkedin.com/company/pukaraes" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
    </div>
    
    <p class="text-white text-xs md:text-base text-center my-2">Copyright &copy; 2020 - 2022 Pukara | Todos los derechos reservados</p>
    <script src="javascript/functions.js"></script>
    <script src="https://www.google.com/recaptcha/enterprise.js?render=6LcYe3kgAAAAAG_ef9x4sFhHjlwUdwqO7iK1ljBt"></script>
  </div>
  </body>
</html>
