<div class="relative w-full font-mulish bg-hero bg-cover text-white overflow-hidden">
  <div class="my-4 overflow-hidden bg-pukara-video">
    <video id="puk-video" class="relative invisible md:w-1/2 mx-auto" autoplay muted>
      <source src="images/pukara_video.mp4" type="video/mp4">
    </video>
  </div>
  
  <div class="relative md:w-[800px] mx-auto">
    <p class="text-center font-extrabold text-2xl md:text-3xl my-2"> NOSOTROS </p>
    <p class="text-lg md:text-xl px-4 md:px-0 text-justify">Somos una consultora de innovación tecnológica y transformación digital que ayuda a organizaciones y particulares en la producción de software de calidad de forma eficiente, sostenible y divertida.</p>
    <p class="text-lg md:text-xl px-4 md:px-0 text-justify my-4">Queremos formar parte de la construcción tecnológica de las ideas del futuro que también contribuyan al desarrollo humano y material de las personas involucradas en el proceso.</p>
  </div>
      
      <a href="#contacto" class="button my-8">CONTÁCTANOS</a>
      <small id="servicios"></small>
  <div class="relative w-full md:w-[1300px] mx-auto my-8 flex flex-col md:flex-row md:justify-around">
    <div class="relative p-4 md:w-1/4">
      <img class="relative mx-auto w-52 md:w-60 my-8 bg-pukara-second p-10 rounded-full p-10" src="images/Desarrollo-app_c.svg" alt="Section icon.">
      <p class="text-center font-extrabold text-2xl md:text-3xl my-2">Desarrollo de Aplicaciones Web</p>
      <p class="text-lg md:text-xl text-justify md:px-4 my-6">Analizamos tus objetivos, los dividimos en entregables funcionales y configuramos un equipo que iterará hasta alcanzar tu meta tecnológica o la de tu organización.</p>
      <p class="text-lg md:text-xl text-justify md:px-4 my-6">Con un esquema de costes fijo o por dificultad y sin la carga de gestión, esta es una buena opción para alcanzar un mínimo producto viable.</p>
    </div>

    <div class="relative p-4 md:w-1/4">
      <img class="relative mx-auto w-52 md:w-60 my-8 bg-pukara-second p-10 rounded-full p-10" src="images/Agilidad_c.svg" alt="Section icon.">
      <p class="text-center font-extrabold text-2xl md:text-3xl my-2">Equipo Ágil Dedicado</p>
      <p class="text-lg md:text-xl text-justify md:px-4 my-6">Ponemos a tu disposición un equipo ágil, multidisciplinar, consciente y con corazón  que trabajará para cubrir todos los requerimientos de tu proyecto.</p>
      <p class="text-lg md:text-xl text-justify md:px-4 my-6">Es un servicio orientado a organizaciones con un producto y un equipo técnico establecido pero que requieren de un espaldarazo ágil.</p>
    </div>

    <div class="relative p-4 md:w-1/4">
      <img class="relative mx-auto w-52 md:w-60 my-8 bg-pukara-second p-10 rounded-full p-10" src="images/Ecommerce_c.svg" alt="Section icon.">
      <p class="text-center font-extrabold text-2xl md:text-3xl my-2">Presencia Online y E-commerce</p>
      <p class="text-lg md:text-xl text-justify md:px-4 my-6">Atendemos las necesidades de visibilidad y posicionamiento ético y orgánico de tu negocio en la Web2.</p>
      <p class="text-lg md:text-xl text-justify md:px-4 my-6">Construímos tu fachada digital autoadministrable con la información relevante de tu oferta de productos y/o servicios para tus futuros clientes.</p>
    </div>
  </div>
</div>

