<div class="relative w-full font-mulish bg-hero bg-cover text-white overflow-hidden">
  <div class="h-screen"></div>
  <p class="text-8xl md:text-9xl font-eight-one text-center">pukara</p>
  <p class="text-2xl md:text-3xl text-center uppercase"><span class="font-bold">innovación</span>técnologica</p>
  <p class="w-full md:w-[800px] text-lg md:text-xl text-justify mx-auto px-8 md:px-0 my-8 md:my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptatibus quas laudantium corporis, reiciendis qui molestias, aspernatur atque, quo tempore blanditiis non sit eum cum a minima. Minima, in autem.</p>

  <a href="#" class="button" target="_blank">APRENDE MÁS</a>

  <div class="relative md:w-[800px] mx-auto">
    <p class="text-3xl md:text-4xl text-center font-extrabold my-4">LOREM IPSUM</p>
    <p class="text-lg md:text-xl px-8 md:px-0 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis tenetur reiciendis officia laborum distinctio ea amet earum? Vel, minus maxime sed soluta qui non adipisci corrupti natus nobis itaque pariatur.</p>
  </div>

  <div class="relative w-full md:w-[1300px] mx-auto my-8 flex flex-col md:flex-row md:justify-around">
    <div class="relative p-4 md:w-1/4">
      <img class="relative mx-auto w-52 md:w-60 my-8 bg-pukara-second p-10 rounded-full" src="images/logo-outline.svg" alt="Section icon.">
      <p class="text-center font-extrabold text-2xl md:text-3xl my-2">LOREM IPSUM</p>
      <p class="text-lg md:text-xl text-center px-8 md:px-0 my-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat dolore porro rem soluta, sit eum autem est cupiditate id qui ullam tempore quia voluptatibus distinctio libero commodi doloremque consequatur nobis!</p>
      <a href="#" class="button my-8" target="_blank">APRENDE MÁS</a>
    </div>

    <div class="relative p-4 md:w-1/4">
      <img class="relative mx-auto w-52 md:w-60 my-8 bg-pukara-second p-10 rounded-full" src="images/logo-outline.svg" alt="Section icon.">
      <p class="text-center font-extrabold text-2xl md:text-3xl my-2">LOREM IPSUM</p>
      <p class="text-lg md:text-xl text-center px-8 md:px-0 my-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat dolore porro rem soluta, sit eum autem est cupiditate id qui ullam tempore quia voluptatibus distinctio libero commodi doloremque consequatur nobis!</p>
      <a href="#" class="button my-8" target="_blank">APRENDE MÁS</a>
    </div>

    <div class="relative p-4 md:w-1/4">
      <img class="relative mx-auto w-52 md:w-60 my-8 bg-pukara-second p-10 rounded-full" src="images/logo-outline.svg" alt="Section icon.">
      <p class="text-center font-extrabold text-2xl md:text-3xl my-2">LOREM IPSUM</p>
      <p class="text-lg md:text-xl text-center px-8 md:px-0 my-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat dolore porro rem soluta, sit eum autem est cupiditate id qui ullam tempore quia voluptatibus distinctio libero commodi doloremque consequatur nobis!</p>
      <a href="#" class="button my-8" target="_blank">APRENDE MÁS</a>
    </div>
  </div>
</div>