<div class="relative bg-header font-mulish py-12 overflow-hidden">
  <div class="slider hide-slider relative w-full md:w-[1100px] flex flex-col md:flex-row mx-auto my-16 place-items-center">
    <img class="w-80 md:w-1/2" src="images/our-client-img.svg" alt="Nuestros clientes.">

    <div class="w-full md:w-1/2">
      <p class="text-3xl md:text-4xl my-8 px-6 font-extrabold text-white">LOREM IPSUM</p>
      <p class="text-lg md:text-xl text-justify px-6 text-white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam molestiae, sequi distinctio ratione eligendi nihil praesentium, ex dolorum doloribus assumenda ut alias, adipisci exercitationem? Nulla, quae. Quasi nobis vel labore?</p>
    </div>
  </div>

  <div class="slider hide-slider relative w-full md:w-[1100px] flex flex-col md:flex-row mx-auto my-16 place-items-center">
    <img class="w-80 md:w-1/2" src="images/our-client-img.svg" alt="Nuestros clientes.">
    
    <div class="w-full md:w-1/2">
      <p class="text-3xl md:text-4xl my-8 px-6 font-extrabold text-white">LOREM IPSUM DOLOR</p>
      <p class="text-lg md:text-xl text-justify px-6 text-white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam molestiae, sequi distinctio ratione eligendi nihil praesentium, ex dolorum doloribus assumenda ut alias, adipisci exercitationem? Nulla, quae. Quasi nobis vel labore?</p>
    </div>
  </div>

  <div class="slider hide-slider relative w-full md:w-[1100px] flex flex-col md:flex-row mx-auto my-16 place-items-center">
    <img class="w-80 md:w-1/2" src="images/our-client-img.svg" alt="Nuestros clientes.">
    
    <div class="w-full md:w-1/2">
      <p class="text-3xl md:text-4xl my-8 px-6 font-extrabold text-white">LOREM IPSUM DOLOR SIT</p>
      <p class="text-lg md:text-xl text-justify px-6 text-white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam molestiae, sequi distinctio ratione eligendi nihil praesentium, ex dolorum doloribus assumenda ut alias, adipisci exercitationem? Nulla, quae. Quasi nobis vel labore?</p>
    </div>
  </div>

  <div class="slider hide-slider relative w-full md:w-[1100px] flex flex-col md:flex-row mx-auto my-16 place-items-center">
    <img class="w-80 md:w-1/2" src="images/our-client-img.svg" alt="Nuestros clientes.">
    
    <div class="w-full md:w-1/2">
      <p class="text-3xl md:text-4xl my-8 px-6 font-extrabold text-white">LOREM IPSUM AMET</p>
      <p class="text-lg md:text-xl text-justify px-6 text-white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam molestiae, sequi distinctio ratione eligendi nihil praesentium, ex dolorum doloribus assumenda ut alias, adipisci exercitationem? Nulla, quae. Quasi nobis vel labore?</p>
    </div>
  </div>

  <div class="slider hide-slider relative w-full md:w-[1100px] flex flex-col md:flex-row mx-auto my-16 place-items-center">
    <img class="w-80 md:w-1/2" src="images/our-client-img.svg" alt="Nuestros clientes.">
    
    <div class="w-full md:w-1/2">
      <p class="text-3xl md:text-4xl my-8 px-6 font-extrabold text-white">LOREM IPSUM IPSAM</p>
      <p class="text-lg md:text-xl text-justify px-6 text-white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam molestiae, sequi distinctio ratione eligendi nihil praesentium, ex dolorum doloribus assumenda ut alias, adipisci exercitationem? Nulla, quae. Quasi nobis vel labore?</p>
    </div>
  </div>
  
  <div class="w-full flex justify-center gap-8 md:gap-4 md:my-6">
    <div class="dots w-6 h-6 my-2 rounded-full "></div>
    <div class="dots w-6 h-6 my-2 rounded-full "></div>
    <div class="dots w-6 h-6 my-2 rounded-full "></div>
    <div class="dots w-6 h-6 my-2 rounded-full "></div>
    <div class="dots w-6 h-6 my-2 rounded-full "></div>
  </div>
</div>