<div class="relative font-mulish overflow-hidden">
  <div class="w-full md:w-[1100px] mx-auto my-16 flex flex-col md:flex-row place-items-center">
    <div class="w-full md:w-1/2">
      <p class="text-3xl md:text-4xl my-8 px-8 md:px-4 font-extrabold">LOREM IPSUM</p>
      <p class="text-lg md:text-xl text-justify px-8 md:px-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ullam facilis aut ab dolor ad explicabo voluptas, eos quae sint maiores reiciendis unde velit rem vero, excepturi pariatur quas necessitatibus?</p>
    </div>

    <img class="w-80 md:w-auto my-12 md:my-0 mx-auto" src="images/img-001.svg" alt="Infografico.">
  </div>

  </div>
  <a href="#" class="button my-8" target="_blank">APRENDE MÁS</a>
</div>