{{ if .Site.IsMultiLingual }}
    {{ range .Site.Languages }}
    {{ if eq . $.Site.Language }}
    <button id="lang-dropdown" class="dropdown-toggle text-white md:border-0 transition delay-100 md:hover:text-pukara-main">
      <a href="#" data-dropdown-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
        <span class="fa fa-globe" aria-hidden="true"></span></a>
        </button>
      {{ end }}
      {{ end }}
      <div id="dropdown" class="hidden outline outline-offset-2 outline-1 z-10 w-15 shadow-xl bg-footer border-gray-200 px-2 sm:px-4 py-2.5 dark:bg-gray-800 font-mulish">
      <ul class="dropdown-menu" aria-labelledby="lang-dropdown">
        {{ range $.Translations }}
        <li><a class="pr-4 text-white flex items-center" href="{{ .Permalink }}">
		    <img align="left" src="{{ .Site.BaseURL }}/images/{{.Language.LanguageName}}.png" width="18"height="16">
            {{.Language.LanguageName}}</a>
            {{ end }}
        </li>
      </ul>
{{ end }}
