@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Eight One';
  src: url("../fonts/eight-one.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply relative text-center text-lg text-pukara-second mx-auto my-24 bg-gradient-to-b from-pukara-main to-pukara-primary font-extrabold py-2 w-[200px] active:bg-gradient-to-b active:from-pukara-primary active:to-pukara-main block;
  }

  .circle {
    border-top: dashed;
    @apply w-64 h-64 border-4 border-pukara-second border-t-pukara-main rounded-full transform rotate-45 flex flex-col justify-center place-items-center;
  }
}

html {
  scroll-behavior: smooth;
}