<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" type="text/css" href="styles/tailwind.css" />
    <link rel="icon" type="image/svg" href="images/favicon.svg" />
    <script src="https://kit.fontawesome.com/4cd87bf5ed.js" crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-76C8CL6Z4X"></script>
    <script src="https://www.google.com/recaptcha/api.js" defer></script>
    <script src="/javascript/recaptcha.js" defer></script>
    <script src="/javascript/get-form.js" defer></script>
    <script src="/javascript/validationsForm.js" defer></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-76C8CL6Z4X');
    </script>
  </head>

  <body class="select-none">
    <div class="relative flex justify-center bg-hero bg-cover">
      <img class="relative md:-left-96 my-4" src="images/logo.svg" alt="Logo del sitio." />
    </div>